{% extends 'base.html.twig' %}

{% block title %}Qui nous sommes{% endblock %}

{% block body %}
    <div class="container my-4">
        <div class="text-center my-3">
            <a href="{{ path('home')}}"><img src="{{asset('images/60e719a396c35.png') }}" alt="logo" class="img-fluid" style ="width:180px"></a>
            <h1 > Point&ampPixel</h1>
            <h5 class= 'mb-3'> L'art pour tous !</h5>
        </div>

<p>Point&ampPixel est une association culturelle fondée en 2020 par un petit groupe d’artistes
 qui veut mettre en relation des artistes amateurs, des designers, des graphistes, avec le public intéressé et d'éventuels acquéreurs. 
 </p>

<ul>Elle est née d’un triple constats:
<li>
la difficulté pour des personnes de milieux culturels modestes
ou qui présentent un handicap mais possédant un réel talent artistique, d'être reconnues par les galeristes traditionnels, de percer dans l’art et de partager leur création.
</li> 
<li> la timide émergence du nouvel art numérique. </li>
<li> l’invasion du commercial dans le domaine de l’art.</li>
</ul>
<p> En mettant à disposition 3 galeries virtuelles : les tableaux, des conceptions vidéos 3D, des images (art numériques, photos, images de tableaux vendus ou non mis en vente par l’utilisateur)Le site Point&Pixel veut apporter une solution de manière graduelle..
</p>
<p> Point&ampPixel est avant tout un site vitrine mais nous donnons la possibilité aux artistes amateurs de vendre leur(s) tableau(x) à des prix accessibles </p>
<p> davantage qu'une sensibilisation à l'art, point&ampPixel veut promouvoir la personne et mettre en valeur l'artiste qui peut se cacher en chacun de nous.</p>
<br> 
Son siège social est situé au 9 rue du chevalier martin – 06800 cagnes sur mer - France, et est immatriculée : SIREN 844589432

 

    </div>
{% endblock %}