{% extends 'base.html.twig' %}

{% block title %} Mes_videos{% endblock %}

{% block body %}
<main class="container mt-5">


<div class="row">
{% for video in videos %}
    
        <div class="my-3 col-lg-4 col-md-6 col-xl-3">
            <div class="cardvideo overflow-hidden">
                
            <div class="youtube_player ratio ratio-16x9" videoID="{{ video.iframe }}"  theme="light" rel="0" 
                controls="1" showinfo="1" autoplay="0" mute="0" loop="0" loading="1">
            </div> 
                <div class="card-body">
                    <h5 class="card-title">{{ video.auteur}}</h5>
                    <h6><strong>{{ video.titre }}</strong>
                </div>
            </div>
        </div>
        {% endfor %}
    <div>
</main>
{% endblock %}