<div class="container m-auto col-md-7 col-lg-6">
{{ form_start(form) }}
    {{ form_widget(form) }}
    {# bouton pour sauvegarder la modification #}
    <button class="secondbuttonitem mt-4">{{ button_label|default('OK') }}</button>
{{ form_end(form) }}
</div>