{% extends 'base.html.twig' %}

{% block title %}New Slide{% endblock %}
{% block body %}
    <h3 class="text-center my-4">Insérez un nouveau slide au diaporama</h3>
<div class="formulaire d-flex justify-content-center">

    {{ include('carousel/_form.html.twig') }}
    </div>

     <a href="{{ path('carousel_index') }}"><button class= "firstitem fs-5 ms-2">Retour</button></a>

{% endblock %}
