{% extends 'base.html.twig' %}

{% block title %}details tableaux{% endblock %}

{% block body %}
<h1>Détail du tableaux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
            </tr>
            <tr>
                <th>Tva</th>
            </tr>
        </tbody>
    </table>
{% endblock %}