{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <h3 class="text-center"> Creer un nouveau mot-de-passe</h3>
    <div class="container col-md-10 col-lg-6 my-3">
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
            <div class=" text-end mt-4">
        <button class="secondbuttonitem">Confirmez</button>
        </div>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
