{% extends 'base.html.twig' %}

{% block title %}New Artnumerique{% endblock %}

{% block body %}
    <h1>Create new Artnumerique</h1>

    {{ include('artnumerique/_form.html.twig') }}

    <a href="{{ path('artnumerique_index') }}">back to list</a>
{% endblock %}
