body {
    font-family: 'Playfair Display', serif;
    border: 0px;
    color: #21153a;
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0%;

}
a {
    text-decoration: none;
    z-index: 30;
    color: inherit;
}



.icon {
    color: inherit;
    font-size: 1rem;
}

  #logo { 
    max-width:5rem;
 }

 .text-logo {
    font-size: 2.2rem;
 }
 .sous-titre{
     font-size: 1.5rem;
 }
 /* ********* 
    NAVBARS
   ********** */

.navbar{
    background-color: #21153a;
    font-size: 14px;
    padding: 2px;
}

#navbarNavDropdown a{
    color: rgb(252, 253, 239);   
}
#navbarNavDropdown a:hover{ 
    background-color: #21153a;
}
#navbarNavDropdown{
    background-color: rgba(57,42,74);
    margin-bottom: 3px;
    margin-top: 3px;
    padding-left: 8px;

}
.dropdown-menu{
    background-color:rgba(57,42,74,0.7)
    
}
.navbar-dark .navbar-brand{
    color: rgb(252, 253, 239);
}

/************* 
    BOUTON
*************/

.firstitem {

    background-color: rgba(27, 12, 44, 0.7);
    font-size: 1.6rem;
    padding: 5px 15px;
    text-decoration: none;
    
    color: rgb(252, 253, 239);
    position: relative;
    margin-bottom: 15px;
    
}
.secondbuttonitem {
    margin-bottom: 30px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.1rem;
    text-align: center;
    color: rgb(252, 253, 239);   
    text-shadow: 1px 1px 1px #000;
    border-radius: 2px;
    background-color:rgb(212, 167, 108);
    background-image: linear-gradient(to top left,
                                      rgba(10, 10, 10, .2),
                                      rgba(10, 10, 10, .2) 30%,
                                      rgba(10,10, 10, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    
}

/************
    HOME
*************/

.subjectpaint{
    color: rgb(252, 253, 239);   
    position: relative;
    top: -85px;
    z-index: 50;
    

    
}
.img-thumbnail{
    width: 270px;
    padding: 0px;
}
.img-thumbnail:hover {
    background-color: rgb(161, 139, 185);
    padding: 7px;
  }   

 .logo{
    width: 100%;
} 




#firstsubject {
    margin: 3px;
    padding: 10px;

}

.lookSubject img {
    width: 200px;
}


 
/***********
FOOTER
***********/
footer {
    font-size: 0.8em;
}

footer p {
    color:#fcfdef
}

footer a {
    color:#fcfdef
}

footer a:hover {
    color:#ffffff
}


footer {
    background-color: #27173a;
}

/************
MAIN ART GRAF
*************/
#imageScroll img{
    display: flex;
    max-width: 100%;
    height: auto;

}

.card{
    background-color:rgb(255, 253, 240)
    
    /* border:2px solid rgb(243, 214, 159) */
    
}


 .imagine {
    height: 100px;
}

    

.buttonBuy {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* .styled {

    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.1rem;
    text-align: center;
    color: #fcfdef;
    text-shadow: 1px 1px 1px #000;
    border-radius: 2px;
    background-color: rgb(231, 156, 69);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px #faf9f999,
                inset -2px -2px 3px rgba(0, 0, 0, .6);
} */


/*************/
/*ACOUNT
/*************/
.account{
	background-image: linear-gradient(to top, #f3d69f 0%, #27173a 100%);
    color: #fcfdef;
    	
}
.formulaire{
    padding: 20px;
    background-color:rgba(39, 23, 58, 0.582);
}


.account h4 {
	
	padding: 15px 5px;
	font-size: 19px;
}

.form-group {
    margin-top: 20px;
}



.login-input {
	margin: 10px;
    font-size: 20px;

}


a {
	position: relative;
	

}


.error {
    font-size: 13px;
    background-color: #FFC2BD;
    padding: 5px;
    display: none;
}




/*************
PAGE CONTACT
/************/

.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgb(209 153 97 / 35%);
    border-color: rgb(252, 253, 239);
    border: 5px solid rgb(252, 253, 239);
}


