body {
    font-family: 'Playfair Display', serif;
    border: 0px;
    color: #21153a;
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0%;

}
a {
    text-decoration: none;
    z-index: 30;
    color: inherit;
}



.icon {
    color: inherit;
    font-size: 1rem;
}

  #logo { 
    max-width:5rem;
 }

 /* ********* 
    NAVBARS
   ********** */

.navbar{
    background-color: #21153a;
    font-size: 14px;
    padding: 2px;
}

#navbarNavDropdown a{
    color: rgb(252, 253, 239);   
}
#navbarNavDropdown a:hover{ 
    background-color: #21153a;
}
#navbarNavDropdown{
    background-color: rgba(57,42,74);
    margin-bottom: 3px;
    margin-top: 3px;
    padding-left: 8px;

}
.dropdown-menu{
    background-color:rgba(57,42,74,0.7)
    
}
.navbar-dark .navbar-brand{
    color: rgb(252, 253, 239);
}

/************* 
    BOUTON
*************/

.firstitem {

    background-color: rgba(27, 12, 44, 0.7);
    font-size: 1.6rem;
    padding: 5px 15px;
    text-decoration: none;
    
    color: rgb(252, 253, 239);
    position: relative;
    margin-bottom: 15px;
    
}
.secondbuttonitem {
    margin-bottom: 30px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.1rem;
    text-align: center;
    color: rgb(252, 253, 239);   
    text-shadow: 1px 1px 1px #000;
    border-radius: 2px;
    background-color:rgb(212, 167, 108);
    background-image: linear-gradient(to top left,
                                      rgba(10, 10, 10, .2),
                                      rgba(10, 10, 10, .2) 30%,
                                      rgba(10,10, 10, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    
}

/************
    HOME
*************/

.subjectpaint{
    color: rgb(252, 253, 239);   
    position: relative;
    top: -85px;
    z-index: 50;
    

    
}
.img-thumbnail{
    width: 270px;
    padding: 0px;
}
.img-thumbnail:hover {
    background-color: rgb(161, 139, 185);
    padding: 7px;
  }   
/* .firstsection{
    background-color: rgb(159, 243, 159);
    
} */

/* .slide-diaporama{
    height:  500px;
        
        position: relative;
        margin: auto;
      
}
/* définition de l'animation sur les images */
/* .diaporama img {
  animation: fade-in-out 6s ease infinite 0s;
  opacity: 0;
  position:relative;
} */
/* définition délai des images */
/* .diaporama img:nth-child(1) { animation-delay: 0s;}
.diaporama img:nth-child(2) { animation-delay: 2s;}
.diaporama img:nth-child(3) { animation-delay: 4s;} */
/* définition des étapes */
/* @keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  16.67% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
} */ 

/***********/
/*.text {
    background-color: darkslagray;
    
    width: 100%;
    padding :10px
}*/
.text{
    background-color:  rgb(252, 253, 239);
    text-align: center;
    font-size: 15px;
    padding: 40px 40px 0px 40px;
}

 .logo{
    width: 100%;
} 


#block-centrale{
    display: flex;  
    justify-content:space-evenly;
    align-items:center;
    flex-wrap: wrap;
}






.lookSubject {
    background-color: rgb(209, 159, 243);
    display: flex;
    justify-content: center;
    padding: 10px 10px;

}



#firstsubject {
    margin: 3px;
    padding: 10px;

}

.lookSubject img {
    width: 200px;
}


 
/***********
FOOTER
***********/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
    background-color: #191828;
    bottom: 0;
}

footer p {
    color: #f0d069;
}

footer a {
    color: #a9cfee;
}

footer a:hover {
    color: #FFFFFF;
}


footer {
    background-color: rgb(39, 23, 58);
}

/************
MAIN ART GRAF
*************/
#imageScroll img{
    display: flex;
    max-width: 100%;
    height: auto;

}

.card{
    background-color:rgb(252, 253, 239);
    
    border:2px solid rgb(243, 214, 159)
    
}



.btn-check{
    background-color: aqua;
    
}
.buttonBuy {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.styled {

    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 2px;
    background-color: rgb(231, 156, 69);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}


/*************/
/*ACOUNT
/*************/
.account{
	background-image: linear-gradient(to top, rgb(243, 214, 159) 0%, rgb(39, 23, 58) 100%);
	 /* background-repeat: no-repeat; */
    /* display:flex; */
    /* align-items:center;
    justify-content: center;  */
    /* border-top: 5px solid re; */
    color: rgb(252, 253, 239);
    	
}
.formulaire{
    padding: 20px;
    background-color:rgba(39, 23, 58, 0.582);
}
/* .box{
	width: 60%;
    height: 70%;
	background-color:rgb(230, 70, 70;
	
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3;
	padding: 5px;
	top: 20px; 
} */

/*img {
	width: 100px;
	padding-top: 10px;
	margin: auto;

}*/

.account h4 {
	
	padding: 15px 5px;
	font-size: 19px;
}

.form-group {
    margin-top: 20px;
}



.login-input {
	margin: 10px;
    font-size: 20px;

}

.checkbox {
	position: relative;
	

	color: #337ab7;
}

a {
	position: relative;
	

}

.login-button {
	width: 70%;
    position: relative;
	left: 30px;
    background-color: #9bd0db;
    padding: 1px 2px;
}

.error {
    font-size: 13px;
    background-color: #FFC2BD;
    padding: 5px;
    display: none;
}

.error-img {
    width: 18px;
    vertical-align: bottom;
}

.success {
    font-size: 13px;
    background-color: #FFC2BD;
    padding: 5px;
    display: none;
}

.success-img {
    width: 18px;
    vertical-align: bottom;
}
/*************
PAGE CONTACT
/************/

.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgb(209 153 97 / 35%);
    border-color: rgb(252, 253, 239);
    border: 5px solid rgb(252, 253, 239);
}

/* #buttonSubmit{ */
    /* background-color: rgb(209 153 97);
    border : 1px solid rgb(209 153 97);
    color: rgb(243, 239, 253);
    font-size: 1.1rem; */

/* } */
