{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h3 class="my-4 text-center">Modifier Une catégorie</h3>

    {{ include('category/_form.html.twig', {'button_label': 'Confirmez'}) }}
    
    <div class="container m-auto col-md-7 col-lg-6 text-end">
        <a href="{{ path('category_index') }}"><button class="firstitem fs-5">Retour</button></a>
    </div> 

    {# {{ include('category/_delete_form.html.twig') }} #}
{% endblock %}
