{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h3 class="text-center my-4">Créez une nouvelle catégorie</h3>

    {{ include('category/_form.html.twig') }}
    
    <div class="container m-auto col-md-7 col-lg-6 text-end">

        <a href="{{ path('category_index') }}"><button class= "firstitem fs-5 ms-2">Retour</button></a>
    
    </div>
{% endblock %}
