{# {% extends 'base.html.twig' %} #}
<!DOCTYPE html>
<html>
	{% include "home/header.html.twig" %}

{% block body %}

<div class="container col-10 col-lg-8 ">
<div class="img-fluid text-center my-4 ">
<a href="{{ path('home')}}"><img src="{{asset('images/60e719a396c35.png') }}" alt="logo"  style ="width:10em"></a>
</div>
<h2 class= "text-center my-3"> Conditions générales de vente</h2>
<h3 class= "title mt-5 mb-3">I- Généralités</h3>
<p> Point&ampPixel présente les tableaux d'artistes amateurs aux utilisateurs du site, pour donner la possibilité
de les découvrir et les acheter en ligne directement auprès du vendeur. Mais aussi, il donne un espace aux designers, 
graphistes et artistes du nouvel numérique de présenter leur(s) réalisation(s)</p>

<p> Les ventes effectuées à travers le Site sont conclues directement entre l'acheteur et le
vendeur. Point&ampPixel n'est pas un revendeur des tableaux exposés par l'intermédiaire du Site, 
même si il se reserve 15% par les Vendeurs.</p>

<p> Point&ampPixel agit en tant que simple intermédiaire dans le seul cadre de la mise à
disposition du Site permettant la mise en relation des vendeurs et des acheteurs.
En conséquence, Point&ampPixel n'intervient pas au contrat de vente qui est conclu
uniquement entre l’acheteur et le vendeur.
L'artiste est le seul garant de son oeuvre et seul
tenu des obligations qui en découlent.</p>

<h3 class= "title mt-4">II- Accord</h3>

<p>L’acceptation sans réserve de l’intégralité des présentes conditions générales de vente est
indispensable à la conclusion du contrat de vente, tant par le vendeur que l’acheteur. Cette
acceptation se matérialise par une case à cocher dans le formulaire de commande de
l’ouvre.</p>

<h3 class= "title mt-4">III- Disponibilité</h3>

<p>Les vendeurs sont responsables de la gestion de leur(s) oeuvre(s), et donc de retirer du Site les tableaux
déjà vendus par tout autre moyen.</p>

<p>Pour commander une Œuvre, l’acheteur doit creer un compte Utilisateur, puis sélectionner l’oeuvre de son choix, 
la placer dans son panier et renseigner les informations nécessaires le concernant pour la commande.</p>

<p> Avant de confirmer sa commande,
l’Acheteur doit vérifier les informations contenues dans son panier, et a
la possibilité de corriger d’éventuelles erreurs dans les éléments saisis, ainsi que de prendre
connaissance des frais de livraison.</p>

<p>Dans l’hypothèse où l’oeuvre ne serait plus disponible, un email en informant l’Acheteur sera
envoyé dans un délai de 48 heures, entrainant l’annulation de la commande et la suppression de la vente du tableau considéré dés lors comme non disponible.
</p>

<h3 class= "title mt-4">III- Livraison</h3>

<p> L’acheteur a l’obligation de se renseigner sur les modalités et les délais de livraison mis en
œuvre par les différents prestataires de livraison.</p>
<p>L’Acheteur s’oblige, dès la réception de la commande à vérifier l’état de l’œuvre, et émettre
toute réserve par écrit et sans délai auprès de Point&ampPixel, qui les transmettra au Vendeur.</p>

<p>Les obligations concernant la livraison de la commande, à savoir le respect des délais
annoncés, la qualité de l’emballage de l’œuvre, ainsi que la conformité de celle-ci incombent 
uniquement sur le vendeur. Point&ampPixel en décline toute responsabilité.</p>

<h3 class= "title mt-4">IV- Garanties légales</h3>
<p>
Le vendeur s’engage à respecter et mettre en œuvre les garanties légales dont bénéficie
l’acheteur, à savoir : la garantie de non-conformité et la garantie des vices cachés.</p>

<h3 class= "title mt-4">V- Droit de rétractation</h3>

<p>En application de l’article L.121-21 (loi du 17 mars 2014 relative à la consommation) du code
de la consommation, l’acheteur dispose d’un délai de 14 jours à compter de la livraison de
l’Œuvre pour mettre en œuvre son droit de rétractation auprès du Vendeur, sans frais et
sans motif.</p>

<p> Le remboursement portera sur le prix de l’œuvre payé par l’acheteur ainsi que les frais de
retour.
Les œuvres retournées endommagées ou salies par l’acheteur ne seront ni reprises, ni
remboursées.</p>

<h3 class= "title mt-4">VI- Propriété intellectuelle</h3>

<p>
Le Vendeur garantit être l’auteur de l’oeuvre ou de posséder légalement le tableau mis en vente,
 que l’Œuvre ne contrevient en aucune
façon aux lois, aux réglementations et aux normes en vigueur et qu’elle ne porte pas atteinte
aux droits des tiers.

Lors de la vente, l’acheteur acquiert le support matériel de l’œuvre et ses droits de
représentation sur l’œuvre.
L'auteur de l'oeuvre conserve toutefois le droit moral sur l’œuvre vendue ainsi que les droits liés à sa
reproduction.</p>

<h3 class= "title mt-4">VII- Protection des données</h3>

<p> En application la Loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux
libertés individuelles, l’acquéreur dispose d’un droit d’accès, de modification, de rectification
et de suppression des données à caractère personnel le concernant traitées via le Site lors de
la commande, ainsi que du droit de s’opposer à la communication de ces données à des tiers.</p>
<p>
Les données à caractère personnel communiquées par l’acheteur seront supprimées.
Point&ampPixel se réserve le droit de conserver certaines données afin de justifier, le cas
échéant, de la parfaite exécution de ses obligations contractuelles ou légales. Les données
ainsi conservées seront limitées à ce qui est strictement nécessaire à l’exploitation du
service.</p>
<h3 class= "title mt-4">VIII- Médiation</h3>

<p>
En cas de litige, l’acquéreur dispose d’un droit de recours à un médiateur de la consommation
en vue de la résolution amiable de tout litige portant sur l’exécution des présentes CGV, tel
que prévu aux articles L.611-1 et suivants ainsi que R.612-1 et suivants du Code de la
Consommation.</p>

</div>
{% endblock %}
</html>