{% extends 'base.html.twig' %}

{% block title %}Mentions{% endblock %}

{% block body %}
<h3>Mentions légales</h3>
<p>Point&Pixel est un site privée d'un petit groupe d'artistes, dont le siège se situe à Evry dans le 91</p> 
<p>
En acceptant les présentes CGU, l’Utilisateur reconnait que lors de sa navigation sur le Site,
un Cookie peut s’installer automatiquement sur son navigateur.
L’Utilisateur accepte l’utilisation des Cookies lors de sa navigation sur le Site, à défaut de quoi
certaines fonctionnalités du site pourraient lui être refusées.
Ces Cookies ont pour objet de permettre une navigation plus rapide et plus efficace de
l’Utilisateur lors de ses différentes connexions sur le Site.
L’Utilisateur peut, s’il le souhaite, désactiver les Cookies par l’intermédiaire des paramètres
du navigateur utilisé afin d’accéder au Site.</p>


{% endblock %}