<h1>Point et Pixel</h1>
<h2>L'art pour tous !</h2>

<p> Votre tableau a été selectioné pour un éventuel achat. Veuillez confirmer sa disponibilité.
      Si, à breve, aucune réponse, nous est donée nous annulerons la commande. Point et Pixel. Veuillez <a href="{{ path('contact') }}">nous contacter</a></p>

<p> Très cordialement</p>
<p> PointetPixel</p>