<form method="post" action="{{ path('tva_delete', {'id': tva.id}) }}" onsubmit="return confirm(
    'Êtes-vous sûr de vouloir supprimer cet item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tva.id) }}">
<button class="btn alert alert-danger p-1"><i class="fas fa-trash "></i></button></form>
