{% extends 'base.html.twig' %}

{% block title %}Edit Tva{% endblock %}

{% block body %}
    <h2 class="my-4 text-center">Modifier Slide</h2>

    {{ include('tva/_form.html.twig', {'button_label': 'OK'}) }}
    <div class="container m-auto col-md-7 col-lg-6 text-end">

        <a href="{{ path('tva_index') }}"><button class="firstitem fs-5 p-1">Retour</button></a>

    </div>
{% endblock %}
