{% extends 'base.html.twig' %}

{% block title %}New Tva{% endblock %}

{% block body %}
    <h1>Ajoutez une nouvelle TVA</h1>

    {{ include('tva/_form.html.twig') }}

    <button><a href="{{ path('tva_index') }}">Retour à la liste</a></button>
{% endblock %}
